//! **************************************************************************
// Written by: Map P.68d on Mon Dec 08 16:52:33 2014
//! **************************************************************************

SCHEMATIC START;
COMP "tbre" LOCATE = SITE "D14" LEVEL 1;
COMP "tsre" LOCATE = SITE "N9" LEVEL 1;
COMP "clk_ori" LOCATE = SITE "B9" LEVEL 1;
PIN clk_ori_pin<0> = BEL "clk_ori" PINNAME PAD;
PIN "clk_ori_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "Ram1DataM<10>" LOCATE = SITE "L15" LEVEL 1;
COMP "Ram1DataM<11>" LOCATE = SITE "L16" LEVEL 1;
COMP "Ram1DataM<12>" LOCATE = SITE "L17" LEVEL 1;
COMP "Ram1DataM<13>" LOCATE = SITE "L18" LEVEL 1;
COMP "Ram1DataM<14>" LOCATE = SITE "M13" LEVEL 1;
COMP "Ram1DataM<15>" LOCATE = SITE "M14" LEVEL 1;
COMP "debug_input<10>" LOCATE = SITE "N1" LEVEL 1;
COMP "debug_input<11>" LOCATE = SITE "M1" LEVEL 1;
COMP "debug_input<12>" LOCATE = SITE "K7" LEVEL 1;
COMP "debug_input<13>" LOCATE = SITE "K2" LEVEL 1;
COMP "debug_input<14>" LOCATE = SITE "J7" LEVEL 1;
COMP "debug_input<15>" LOCATE = SITE "J6" LEVEL 1;
COMP "ram1_en" LOCATE = SITE "M15" LEVEL 1;
COMP "ram1_oe" LOCATE = SITE "M16" LEVEL 1;
COMP "ram1_we" LOCATE = SITE "M18" LEVEL 1;
COMP "debug_pc<10>" LOCATE = SITE "F12" LEVEL 1;
COMP "debug_pc<11>" LOCATE = SITE "A13" LEVEL 1;
COMP "debug_pc<12>" LOCATE = SITE "B13" LEVEL 1;
COMP "debug_pc<13>" LOCATE = SITE "D13" LEVEL 1;
COMP "debug_pc<14>" LOCATE = SITE "E13" LEVEL 1;
COMP "debug_pc<15>" LOCATE = SITE "A14" LEVEL 1;
COMP "data_ready" LOCATE = SITE "A16" LEVEL 1;
COMP "port_oe" LOCATE = SITE "C14" LEVEL 1;
COMP "port_we" LOCATE = SITE "U5" LEVEL 1;
COMP "Ram1DataM<0>" LOCATE = SITE "J12" LEVEL 1;
COMP "Ram1DataM<1>" LOCATE = SITE "J13" LEVEL 1;
COMP "Ram1DataM<2>" LOCATE = SITE "J14" LEVEL 1;
COMP "Ram1DataM<3>" LOCATE = SITE "J15" LEVEL 1;
COMP "Ram1DataM<4>" LOCATE = SITE "J16" LEVEL 1;
COMP "Ram1DataM<5>" LOCATE = SITE "J17" LEVEL 1;
COMP "debug_input<1>" LOCATE = SITE "R7" LEVEL 1;
COMP "Ram1DataM<6>" LOCATE = SITE "K12" LEVEL 1;
COMP "debug_input<2>" LOCATE = SITE "U8" LEVEL 1;
COMP "Ram1DataM<7>" LOCATE = SITE "K13" LEVEL 1;
COMP "debug_input<3>" LOCATE = SITE "V4" LEVEL 1;
COMP "Ram1DataM<8>" LOCATE = SITE "K14" LEVEL 1;
COMP "debug_input<4>" LOCATE = SITE "V3" LEVEL 1;
COMP "Ram1DataM<9>" LOCATE = SITE "K15" LEVEL 1;
COMP "debug_input<5>" LOCATE = SITE "V2" LEVEL 1;
COMP "debug_input<6>" LOCATE = SITE "U1" LEVEL 1;
COMP "debug_input<7>" LOCATE = SITE "R4" LEVEL 1;
COMP "debug_input<8>" LOCATE = SITE "R1" LEVEL 1;
COMP "debug_input<9>" LOCATE = SITE "N2" LEVEL 1;
COMP "debug_pc<0>" LOCATE = SITE "D10" LEVEL 1;
COMP "debug_pc<1>" LOCATE = SITE "E10" LEVEL 1;
COMP "debug_pc<2>" LOCATE = SITE "A11" LEVEL 1;
COMP "debug_pc<3>" LOCATE = SITE "B11" LEVEL 1;
COMP "debug_pc<4>" LOCATE = SITE "C11" LEVEL 1;
COMP "debug_pc<5>" LOCATE = SITE "D11" LEVEL 1;
COMP "debug_pc<6>" LOCATE = SITE "E11" LEVEL 1;
COMP "debug_pc<7>" LOCATE = SITE "F11" LEVEL 1;
COMP "debug_pc<8>" LOCATE = SITE "A12" LEVEL 1;
COMP "debug_pc<9>" LOCATE = SITE "E12" LEVEL 1;
COMP "RAM2_Addr<10>" LOCATE = SITE "T18" LEVEL 1;
COMP "RAM2_Addr<11>" LOCATE = SITE "U18" LEVEL 1;
COMP "RAM2_Addr<12>" LOCATE = SITE "V15" LEVEL 1;
COMP "RAM2_Addr<13>" LOCATE = SITE "V13" LEVEL 1;
COMP "RAM2_Addr<14>" LOCATE = SITE "V12" LEVEL 1;
COMP "RAM2_Addr<15>" LOCATE = SITE "V9" LEVEL 1;
COMP "MemAddrM<10>" LOCATE = SITE "G13" LEVEL 1;
COMP "MemAddrM<11>" LOCATE = SITE "G14" LEVEL 1;
COMP "MemAddrM<12>" LOCATE = SITE "G15" LEVEL 1;
COMP "MemAddrM<13>" LOCATE = SITE "G16" LEVEL 1;
COMP "MemAddrM<14>" LOCATE = SITE "H14" LEVEL 1;
COMP "MemAddrM<15>" LOCATE = SITE "H15" LEVEL 1;
COMP "RAM2_Data<10>" LOCATE = SITE "P13" LEVEL 1;
COMP "RAM2_Data<11>" LOCATE = SITE "P12" LEVEL 1;
COMP "RAM2_Data<12>" LOCATE = SITE "P11" LEVEL 1;
COMP "RAM2_Data<13>" LOCATE = SITE "P10" LEVEL 1;
COMP "RAM2_Data<14>" LOCATE = SITE "N12" LEVEL 1;
COMP "RAM2_Data<15>" LOCATE = SITE "N11" LEVEL 1;
COMP "RAM2_Addr<0>" LOCATE = SITE "N14" LEVEL 1;
COMP "RAM2_Addr<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "RAM2_Addr<2>" LOCATE = SITE "N18" LEVEL 1;
COMP "RAM2_Addr<3>" LOCATE = SITE "P16" LEVEL 1;
COMP "RAM2_Addr<4>" LOCATE = SITE "P17" LEVEL 1;
COMP "RAM2_Addr<5>" LOCATE = SITE "P18" LEVEL 1;
COMP "RAM2_Addr<6>" LOCATE = SITE "R15" LEVEL 1;
COMP "RAM2_Addr<7>" LOCATE = SITE "R16" LEVEL 1;
COMP "RAM2_Addr<8>" LOCATE = SITE "R18" LEVEL 1;
COMP "RAM2_Addr<9>" LOCATE = SITE "T17" LEVEL 1;
COMP "MemAddrM<0>" LOCATE = SITE "C17" LEVEL 1;
COMP "MemAddrM<1>" LOCATE = SITE "C18" LEVEL 1;
COMP "MemAddrM<2>" LOCATE = SITE "D16" LEVEL 1;
COMP "MemAddrM<3>" LOCATE = SITE "D17" LEVEL 1;
COMP "MemAddrM<4>" LOCATE = SITE "E15" LEVEL 1;
COMP "MemAddrM<5>" LOCATE = SITE "E16" LEVEL 1;
COMP "MemAddrM<6>" LOCATE = SITE "F14" LEVEL 1;
COMP "MemAddrM<7>" LOCATE = SITE "F15" LEVEL 1;
COMP "MemAddrM<8>" LOCATE = SITE "F17" LEVEL 1;
COMP "MemAddrM<9>" LOCATE = SITE "F18" LEVEL 1;
COMP "RAM2_Data<0>" LOCATE = SITE "U13" LEVEL 1;
COMP "RAM2_Data<1>" LOCATE = SITE "T16" LEVEL 1;
COMP "RAM2_Data<2>" LOCATE = SITE "T15" LEVEL 1;
COMP "RAM2_Data<3>" LOCATE = SITE "T14" LEVEL 1;
COMP "RAM2_Data<4>" LOCATE = SITE "T12" LEVEL 1;
COMP "RAM2_Data<5>" LOCATE = SITE "R13" LEVEL 1;
COMP "RAM2_Data<6>" LOCATE = SITE "R14" LEVEL 1;
COMP "RAM2_Data<7>" LOCATE = SITE "R12" LEVEL 1;
COMP "RAM2_Data<8>" LOCATE = SITE "R11" LEVEL 1;
COMP "RAM2_Data<9>" LOCATE = SITE "R10" LEVEL 1;
COMP "RAM2_EN" LOCATE = SITE "N10" LEVEL 1;
COMP "RAM2_OE" LOCATE = SITE "R9" LEVEL 1;
COMP "RAM2_WE" LOCATE = SITE "M9" LEVEL 1;
NET "clk_ori_BUFGP/IBUFG" BEL "clk_ori_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

